.Body-body {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Body-item {
  text-align: justify;
  min-width: 400px;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  flex-shrink: 1;
  flex-grow: 1;
  width: 1px;
}

.Body-img {
  width: 100%;
  margin-bottom: 20px;
}
